include _navigation
include ../blurb/_blurb
include ../logo/_logo

mixin rd-navbar
	//RD Navbar
	header.section.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-line&attributes( attributes )
			.navbar-container.intro-line-row
				.intro-line-col
					.navbar-cell
						.navbar-panel
							button.navbar-switch.linearicons-menu( data-multi-switch!= {
								targets: '.rd-navbar',
								scope:   '.rd-navbar',
								isolate: '[data-multi-switch]'
							})

							+logo

				.intro-line-col.intro-line-col-center
					.navbar-cell
						+navigation( menu )

					.navbar-cell.navbar-spacer

					.navbar-cell
						.navbar-subpanel
							.navbar-subpanel-item
								button.navbar-button.navbar-list-button.mdi-dots-vertical( data-multi-switch!= {
									targets: '.rd-navbar',
									scope:   '.rd-navbar',
									class:   'navbar-list-active',
									isolate: '[data-multi-switch]'
								})

								.navbar-list
									.navbar-list-icon.mdi-cellphone
									a.link.link-inherit.navbar-list-link( href='tel:#' ) (843) 213-1319

							.navbar-subpanel-item
								button.navbar-button.navbar-cart-button.mdi-cart( data-multi-switch!= {
									targets: '.rd-navbar',
									scope:   '.rd-navbar',
									class:   'navbar-cart-active',
									isolate: '[data-multi-switch]'
								}): span.navbar-button-badge 1

								include _cart

							.navbar-subpanel-item.navbar-subpanel-item-mobile
								button.navbar-button.navbar-contact-btn.navbar-contact-btn-rounded.linearicons-menu( data-multi-switch!= {
									targets: '.rd-navbar',
									scope:   '.navbar-subpanel-contact',
									class:   'navbar-contact-active',
									isolate: '[data-multi-switch]:not( .navbar-button )'
								})

				.intro-line-col.navbar-subpanel-contact
					.navbar-cell.align-items-center.navbar-subpanel-item-desktop
						span.navbar-contact-text Get in touch
						button.navbar-button.navbar-contact-btn.navbar-contact-btn-rounded.linearicons-menu( data-multi-switch!= {
							targets: '.rd-navbar',
							scope:   '.rd-navbar',
							class:   'navbar-contact-active',
							isolate: '[data-multi-switch]:not( .navbar-button )'
						})

					include _contact
