.widget
	h4.widget-title Popular Products
	.widget-body
		+product-small({
			img:      'product/product-1-72x91',
			title:    'The Civil Court Practice 2022',
			price:    '35'
		})
		+product-small({
			img:      'product/product-3-72x91',
			title:    'Company Law Handbook',
			price:    '35'
		})
