.widget.widget-search
	.widget-body
		form( action='search-results.html', method='GET' )
			.form-group.form-group-icon
				input.form-control( type='text', placeholder='Search in blog...', autocomplete='off', name='s' )
				button.form-group-icon-btn.mdi-magnify
