.widget
	h4.widget-title Recent posts
	.widget-body
		+post-small({
			img:      'recent-post-01-72x72',
			title:    'Hot Air Balloons: A Unique Experience',
			date:     'May 10, 2022'
		})
		+post-small({
			img:      'recent-post-02-72x72',
			title:    'Taking A Break from the Daily Routine',
			date:     'May 10, 2022'
		})
