// Base
.footer-subscribe {
	padding: 50px 0;

	.footer-rights {
		color: $gray-700;
	}

	* + .footer-rights { margin-top: px-to-rem( 15px ) }
}


// Media
@include media-breakpoint-up( lg ) {
	.footer-subscribe {
		padding: 60px 0;
	}
}

@include media-breakpoint-up( xl ) {
	.footer-subscribe {
		padding: 95px 0 120px;

		* + .footer-rights { margin-top: px-to-rem( 53px ) }
	}
}
