//- Logo
mixin logo
	// Logo
	.logo&attributes( attributes )
		a.logo-link( href= 'index.html' )
			+img( logo.default, { retina: true } ).logo-image-default( alt= logo.name )
			+img( logo.inverse, { retina: true } ).logo-image-inverse( alt= logo.name )
