// About us
section.section-lg.bg-transparent.section-creative-top
	.container
		.row.row-10.justify-content-between.align-items-xl-center
			.col-md-5.col-lg-4
				h2.line
					span.line-item
					| Delivering quality legal solutions & support since 1999
			.col-md-7
				p.big Lawex is a full-service law firm, initially founded over 20 years ago in Los Angeles, CA. We help companies concentrate on development of their business while we take care of the legal issues and deliver solutions that help our clients.
				a.btn.btn-dark.btn-outline( href='#consultation-form', data-anchor-link ) Free Consultation
