include ../quote/_quote

// About us
section.section-md.bg-100
	.container
		.row.row-30.row-xl-40.justify-content-between.align-items-end.text-block-1
			.col-md-5
				h2 Delivering quality legal solutions since 1999
				p.big Lawex is a full-service law firm, initially founded over 20 years ago in Los Angeles, CA. We help companies concentrate on development of their business.
			.col-md-6
				.text-small.text-primary.text-divider.text-divider-wide Since 1994
				p.big Our team takes care of the legal issues and deliver solutions that help our clients thrive. We are passionate about providing exceptional legal services in a creative environment.
			.col-md-11
				+quote-default-light({
					quote:  'At Lawex, we value justice, honesty and time. We are always at your service as we are in charge of your defence. You can trust our experts in everything.',
					author: 'Edward Gray, Managing partner'
				}).quote-default-light
			.col-md-12
				a.btn.btn-outline( href='#consultation-form', data-anchor-link ) Free Consultation
