// About us
section.section-md.bg-transparent.section-creative-top
	.container
		.row
			.col-md-10.col-lg-9
				h2.text-decorated.text-decorated-large We do law differently — with more expertise, less hassle, and tech that helps you hire the perfect lawyer faster than ever.
