// Awards
section.section-sm.bg-100.text-center
	.container
		h3.h3-style-1 Read Me on:
		.owl-carousel.owl-vertical-center.owl-content-1( data-owl= { dots: true }, data-items='2', data-sm-items='3', data-md-items='4' )
			a.link.link-400( href='#' ): +icon-medium
			a.link.link-400( href='#' ): +icon-facebook
			a.link.link-400( href='#' ): +icon-twitter
			a.link.link-400( href='#' ): +icon-instagram
