include ../post/_post

// Blog carousel
section.section-md.bg-transparent
	.container
		.row.row-5.align-items-center
			.col-md-5
				h2.text-divider Popular News
			.col-md-7
				p.big Adipiscing inciderint est in. Ius nusquam oportere et, ius ea mazim definiebas scribentur, ne putent verterem necessitatibus quo.
		// Swiper slider
		.swiper-carousel
			.swiper-container( data-swiper!={
				breakpoints: {
					576: {
						slidesPerView: 2,
						spaceBetween:  15
					},
					768: {
						slidesPerView: 3,
						spaceBetween:  30
					}
				},
				loop:        false,
				pagination:  {
					type: 'custom'
				}
			} )
				// Additional required wrapper
				.swiper-wrapper
					// Slides
					.swiper-slide
						+post-shadow({
							img:   'popular-news-01-370x257',
							tag:   'News',
							title: 'Decorating a Modern Bedroom on a Budget',
							date:  'November 12, 2022'
						})
					
					.swiper-slide
						+post-shadow({
							img:   'popular-news-02-370x257',
							tag:   'News',
							title: 'Top 10 Tips For Building Loving Relationships',
							date:  'November 12, 2022'
						})
					
					.swiper-slide
						+post-shadow({
							img:   'popular-news-03-370x257',
							tag:   'News',
							title: '10 Useful Morning Habits to Start the Day Off Right',
							date:  'November 12, 2022'
						})
					
					.swiper-slide
						+post-shadow({
							img:   'popular-news-04-370x257',
							tag:   'News',
							title: 'Why You Should Plan Your Life on a Decade Level',
							date:  'November 12, 2022'
						})
					
					.swiper-slide
						+post-shadow({
							img:   'popular-news-05-370x257',
							tag:   'News',
							title: 'Summer Menus and Mood Setters for Hosting at Home',
							date:  'November 12, 2022'
						})
					
					.swiper-slide
						+post-shadow({
							img:   'popular-news-06-370x257',
							tag:   'News',
							title: '35 Home Workout Tips to Maximize Results',
							date:  'November 12, 2022'
						})
				
				.swiper-controls
					// Pagination
					.swiper-pagination
					
					// Scrollbar
					.swiper-progress
						.swiper-progress-bar
					
					// Navigation
					.swiper-buttons
						.swiper-button-prev.mdi-chevron-left
						.swiper-button-next.mdi-chevron-right
