include ../quote/_quote

// Call to action
section.section-xl.bg-transparent.bg-image.bg-overlay-01( style='background-image: url( images/bg-get-app.jpg )' )
	.container
		.row.row-30
			.col-md-5
				h2 Get Moli mobile app
				a.btn.btn-primary.mt-xl-5( href='#' ) Download
			.col-xl-4.col-lg-5.col-md-6.col-xs-10
				+quote-default({
					quote: 'Stay in the know of my latest articles and publications with the Moli mobile app that is available worldwide on iOS and Android.'
				})
