include ../thumbnail/_thumbnail

// Cases
section.section-md.section-md-top-65.bg-transparent.text-center
	.container.container-wide
		h2 Recent Cases
		.row.row-40.row-xl-55.row-xxl-100.row-offset-md
			.col-sm-6.col-lg-3
				+thumbnail-light({
					img:      'image-18-425x338',
					title:    'Wilson Ltd. & ITX Corp.',
					subtitle: 'Business Law'
				})
			.col-sm-6.col-lg-3
				+thumbnail-light({
					img:      'image-12-425x338',
					title:    'Edwards & Peterson',
					subtitle: 'Family Law'
				})
			.col-sm-6.col-lg-3
				+thumbnail-light({
					img:      'image-1-425x338',
					title:    'Illinois Property Rights',
					subtitle: 'Civil Rights Law'
				})
			.col-sm-6.col-lg-3
				+thumbnail-light({
					img:      'image-8-425x338',
					title:    'Quad Oil Corp.',
					subtitle: 'International Law'
				})
