// About us
section.section-md.bg-transparent
	.container
		.row.row-25.row-xl-55.justify-content-between.flex-md-row-reverse
			.col-sm-6.col-lg-4.text-lg-end
				.image-block.image-block-left
					+img( 'image-19-321x333' )
					.image-block-embed
						+img( 'logo/logo-6-95x25.png' )
						.image-block-title.small.text-uppercase Company
			.col-sm-6.col-lg-7
				h2.text-decorated.text-decorated-large Quad Oil Corp.: The South China Sea Boundary Dispute
				p.big Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do.
				p.big Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.
