include ../post/_post

// Practice
section.section-md.bg-transparent
	.container.container-wide
		h2.text-center Latest Cases
		.row.row-40.row-offset-lg.justify-content-center
			.col-xs-11.col-sm-6.col-lg-3
				+post-line({
					img:     'image-1-422x228',
					tag:     'Civil rights Law',
					tagLink: 'our-cases.html',
					title:   'Illinois Property Rights: Real Estate Protection',
					link:    'case-page.html',
					date:    'November 12, 2022'
				}).post-line-hover
			.col-xs-11.col-sm-6.col-lg-3
				+post-line({
					img:     'image-12-422x228',
					tag:     'Business law',
					tagLink: 'our-cases.html',
					title:   'Wilson Ltd. & ITX Corp.: Solving Sale Methods Disputes',
					link:    'case-page.html',
					date:    'November 12, 2022'
				}).post-line-hover
			.col-xs-11.col-sm-6.col-lg-3
				+post-line({
					img:     'image-18-422x228',
					tag:     'International Law',
					tagLink: 'our-cases.html',
					title:   'Quad Oil Corp.: The South China Sea Boundary Dispute',
					link:    'case-page.html',
					date:    'November 12, 2022'
				}).post-line-hover
			.col-xs-11.col-sm-6.col-lg-3
				+post-line({
					img:     'image-15-422x228',
					tag:     'Criminal Law',
					tagLink: 'our-cases.html',
					title:   'Adamson & Perez: Vehicle Theft & Property Vandalism',
					link:    'case-page.html',
					date:    'November 12, 2022'
				}).post-line-hover
