include ../counter/_counter

// Counter icon
section.section-md.bg-transparent
	.container
		.row.row-15.align-items-center
			.col-md-4
				h2.text-divider Results of our work
			.col-md-8
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
		.row.row-30.row-offset-md
			.col-6.col-md-3
				+counter({
					value: '72',
					title: 'Charges dropped',
					iconClass: 'linearicons-umbrella'
				}).counter-bordered

			.col-6.col-md-3
				+counter({
					value: '87',
					title: 'Cases won',
					iconClass: 'linearicons-file-check'
				}).counter-bordered

			.col-6.col-md-3
				+counter({
					value: '25',
					title: 'Cases dismissed',
					iconClass: 'linearicons-bookmark2'
				}).counter-bordered

			.col-6.col-md-3
				+counter({
					value: '32',
					title: 'Countersuits filed',
					iconClass: 'linearicons-bubble-quote'
				}).counter-bordered
