// FAQ
section.section-md.bg-image( style='background-image: url( images/background/bg-7-1920x854.jpg )' )
	.container
		.row.row-30.flex-md-row-reverse
			.col-md-4
				.tab
					.nav-creative-container
						ul.nav.nav-creative( role='tablist' )
							li.nav-item
								a.nav-link.active( data-bs-toggle='tab', href='#navCreative1-1', role='tab', aria-selected='true' )
									span.nav-link-prefix
									| Main questions
							li.nav-item
								a.nav-link( data-bs-toggle='tab', href='#navCreative1-2', role='tab', aria-selected='false' )
									span.nav-link-prefix
									| Business Law
							li.nav-item
								a.nav-link( data-bs-toggle='tab', href='#navCreative1-3', role='tab', aria-selected='false' )
									span.nav-link-prefix
									| Employment Law
							li.nav-item
								a.nav-link( data-bs-toggle='tab', href='#navCreative1-4', role='tab', aria-selected='false' )
									span.nav-link-prefix
									| Civil Law
			.col-md-8
				.tab-content
					#navCreative1-1.tab-pane.fade.show.active( role='tabpanel' )
						h2 Popular Questions
						dl.term-list.term-list-divided
							dt.h4 What are the advantages of purchasing a website template?
							dd The major advantage is price: You get a quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time: it takes 5-15 days for a good designer to produce a web page of such quality.

						dl.term-list.term-list-divided
							dt.h4 Do you provide any scripts with your templates?
							dd Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

						dl.term-list.term-list-divided
							dt.h4 What do I receive when I order a template from Zemez?
							dd After completing the payment, you will get access to the product.  The source files in the package can vary depending on the product you have purchased.

					#navCreative1-3.tab-pane.fade( role='tabpanel' )
						h2 Popular Questions
						dl.term-list.term-list-divided
							dt.h4 Do you provide any scripts with your templates?
							dd Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

						dl.term-list.term-list-divided
							dt.h4 What are the advantages of purchasing a website template?
							dd The major advantage is price: You get a quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time: it takes 5-15 days for a good designer to produce a web page of such quality.

						dl.term-list.term-list-divided
							dt.h4 What do I receive when I order a template from Zemez?
							dd After completing the payment, you will get access to the product.  The source files in the package can vary depending on the product you have purchased.

					#navCreative1-4.tab-pane.fade( role='tabpanel' )
						h2 Popular Questions
						dl.term-list.term-list-divided
							dt.h4 What do I receive when I order a template from Zemez?
							dd After completing the payment, you will get access to the product.  The source files in the package can vary depending on the product you have purchased.

						dl.term-list.term-list-divided
							dt.h4 Do you provide any scripts with your templates?
							dd Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

						dl.term-list.term-list-divided
							dt.h4 What are the advantages of purchasing a website template?
							dd The major advantage is price: You get a quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time: it takes 5-15 days for a good designer to produce a web page of such quality.


					#navCreative1-2.tab-pane.fade( role='tabpanel' )
						h2 Popular Questions
						dl.term-list.term-list-divided
							dt.h4 Do you provide any scripts with your templates?
							dd Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

						dl.term-list.term-list-divided
							dt.h4 What do I receive when I order a template from Zemez?
							dd After completing the payment, you will get access to the product.  The source files in the package can vary depending on the product you have purchased.

						dl.term-list.term-list-divided
							dt.h4 What are the advantages of purchasing a website template?
							dd The major advantage is price: You get a quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time: it takes 5-15 days for a good designer to produce a web page of such quality.

