// Overview Practice
section.section-md.bg-transparent
	.container
		.row.row-30.row-xl-55.row-xxl-100.justify-content-between
			.col-md-8
				+img( 'image-12-769x431' )
				h2 Meeting clients’ needs in legal support
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.row-25.row-offset-md
					.col-sm-6
						+img( 'image-13-349x373' )
					.col-sm-6
						h2 Service Overview
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						p Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.
						.row.row-5.row-content.row-gutters-5
							.col-xl-6
								ul.list.list-marked.text-dark
									li.list-item Corporate Finance
									li.list-item Corporate Venturing
									li.list-item International Trade
							.col-xl-6
								ul.list.list-marked.text-dark
									li.list-item Investor Services
									li.list-item Tax Credits
				h2 Get full legal assistance from Lawex team
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.

			.col-md-4.col-xl-3
				h3.text-primary Practice Areas
				ul.list.list-divided.list-divided-sm.big
					li.list-item: a.link.link-arrow( href='#' ) Admiralty Law
					li.list-item: a.link.link-arrow( href='#' ) Bankruptcy Law
					li.list-item: a.link.link-arrow( href='#' ) Business Law
					li.list-item: a.link.link-arrow( href='#' ) Civil Rights Law
					li.list-item: a.link.link-arrow( href='#' ) Criminal Law
					li.list-item: a.link.link-arrow( href='#' ) Entertainment Law
					li.list-item: a.link.link-arrow( href='#' ) Employment Law
					li.list-item: a.link.link-arrow( href='#' ) Family Law
				a.btn.btn-block( href='#' ) Get in Touch
