// Practice
section.section-md.bg-900.context-dark.section-creative-list
	.container
		.row.row-25.row-xl-55
			.col-sm-6.col-md-12.col-lg-3
				h2.line.line-2
					span.line-item
					| Practice
			.col-sm-6.col-md-4.col-lg-3
				ul.list.list-divided.h4
					li.list-item: a.link.link-arrow( href='#' ) Admiralty Law
					li.list-item: a.link.link-arrow( href='#' ) Bankruptcy Law
					li.list-item: a.link.link-arrow( href='#' ) Business Law
			.col-sm-6.col-md-4.col-lg-3
				ul.list.list-divided.h4
					li.list-item: a.link.link-arrow( href='#' ) Civil Rights Law
					li.list-item: a.link.link-arrow( href='#' ) Criminal Law
					li.list-item: a.link.link-arrow( href='#' ) Entertainment Law
			.col-sm-6.col-md-4.col-lg-3
				ul.list.list-divided.h4
					li.list-item: a.link.link-arrow( href='#' ) Employment Law
					li.list-item: a.link.link-arrow( href='#' ) Family Law
					li.list-item: a.link.link-arrow( href='#' ) International Law
