include ../thumbnail/_thumbnail

// Practice
section.section-md.bg-transparent
	.container
		.row.row-40.row-xl-55.row-xxl-100
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-3-370x266',
					title: 'Admiralty Law',
					text:  'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-4-370x266',
					title: 'Bankruptcy Law',
					text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-2-370x266',
					title: 'Business Law',
					text:  'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.'
				})

			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-5-370x266',
					title: 'Civil Rights Law',
					text:  'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-6-370x266',
					title: 'Criminal Law',
					text:  'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-7-370x266',
					title: 'Entertainment Law',
					text:  'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.'
				})

			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-8-370x266',
					title: 'Employment Law',
					text:  'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-9-370x266',
					title: 'Family Law',
					text:  'Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-10-370x266',
					title: 'International Law',
					text:  'Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.'
				})
