// Practice
section.section-double-top
	.container
		.layout.layout-2
			.layout-media.bg-image( style='background-image: url(images/image-19-837x551.jpg)' )
			.layout-content.bg-100
				h2 Practice
				.row.row-10.row-offset-custom-1
					.col-sm-6
						ul.list.list-divided.h4
							li.list-item: a.link.link-arrow( href='single-practice.html' ) Admiralty Law
							li.list-item: a.link.link-arrow( href='single-practice.html' ) Bankruptcy Law
							li.list-item: a.link.link-arrow( href='single-practice.html' ) Business Law
							li.list-item: a.link.link-arrow( href='single-practice.html' ) Civil Rights Law
							li.list-item: a.link.link-arrow( href='single-practice.html' ) Criminal Law
					.col-sm-6
						ul.list.list-divided.h4
							li.list-item: a.link.link-arrow( href='single-practice.html' ) Entertainment Law
							li.list-item: a.link.link-arrow( href='single-practice.html' ) Employment Law
							li.list-item: a.link.link-arrow( href='single-practice.html' ) Family Law
							li.list-item: a.link.link-arrow( href='single-practice.html' ) International Law
							li.list-item: a.link.link-arrow( href='single-practice.html' ) View More
