include ../progress-linear/_progress-liear

// Progress linear
section.section-md.bg-transparent
	.container
		.row.row-30.justify-content-between.align-items-center
			.col-md-6
				h2 Skill Bars
				+progress-linear({
					title: 'Communication',
					value: '88'
				})

				+progress-linear({
					title: 'Time Management',
					value: '70'
				})

				+progress-linear({
					title: 'Flexibility',
					value: '74'
				})

				+progress-linear({
					title: 'Content Writing',
					value: '68'
				})

			.col-md-6.col-xl-5.text-center.text-md-right
				+img( 'image-1-470x331' )
