include ../product/_product

// Products grid
section.section-md.bg-transparent
	.container
		h3 Related products
		.row.row-40.row-xl-55
			.col-6.col-lg-3
				+product-simple({
					img:   'product/product-1-270x358',
					title: 'The Civil Court Practice 2022 (The Green Book)',
					price: '35.00'
				})

			.col-6.col-lg-3
				+product-simple({
					img:   'product/product-2-270x358',
					title: 'Shares and Share Capital under the Companies Act',
					price: '35.00'
				})

			.col-6.col-lg-3
				+product-simple({
					img:   'product/product-4-270x358',
					title: 'The Law of Legal Services (Third Edition)',
					price: '35.00'
				})

			.col-6.col-lg-3
				+product-simple({
					img:   'product/product-3-270x358',
					title: 'Company Law Handbook (3rd Edition)',
					price: '35.00'
				})

