// Single product
section.section-md.bg-transparent
	.container
		.row.row-25.row-xl-55.justify-content-between
			.col-sm-6.col-lg-5
				+img( 'product/product-6-510x663' ).shadow-sm.image.image-sm
			.col-md-6.col-lg-6
				.product-overview
					h2 Domestic Abuse: Law and Practice (2nd Edition)
					.product-overview-price
						span.product-overview-price-old.big $60.00
						span.product-overview-price-new.h3 $35.99
					p.big Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do.
					p.big Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					dl.term-list.term-list-inline.text-small
						dt Sku:
						dd 35157
					dl.term-list.term-list-inline.text-small
						dt Categories:
						dd Family & Welfare Law
					.product-overview-filter-form
						.row.row-5.row-gutters-5
							.col-6.col-sm-4.col-md-5.col-xl-3
								.form-group
									input.form-control.input-spinner( data-spinner, type='number', name='spinner', value='1' )
							.col-6.col-sm-4.col-md-5.col-xl-3
								button.btn.btn-block( type='submit' ) Add to cart
