include ../quote/_quote

// Quote custom
section.section-md.bg-transparent.section-creative-quote
	.container
		.layout.layout-1
			.layout-media.bg-image( style='background-image: url(images/person/person-8-1323x456.jpg)' )
			.layout-content.bg-800.context-dark
				+quote-default-small({
					quote: [
						'At Lawex, we value justice, honesty and time. We are always at your service as we are in charge of your defense. You can trust our experts in everything.',
						'Since our establishment, we’ve proved our competence to 100k+ clients.'
					]
				})
