extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'About Me';

block page
	+page-title({
		bgImage: 'images/bg-breadcrumbs-07.jpg',
		title: 'About Me',
		subtitle: 'Learn more about me and what I do'
	})
		+rd-navbar

	include ../components/section/_team-member-overview
	include ../components/section/_team-member-experience
	include ../components/section/_team-member-progress
	include ../components/section/_call-to-action
	include ../components/section/_blog-carousel
	include ../components/footer/_footer-subscribe
