extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Contacts';

block page
	+page-title({
		bgImage: 'images/bg-breadcrumbs-07.jpg',
		subtitle: 'Get in touch with me'
	})
		+rd-navbar

	include ../components/section/_contact-info
	include ../components/section/_contact-form
	include ../components/footer/_footer-subscribe
