extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Typography';

block page
	+page-title({
		bgImage: 'images/bg-breadcrumbs-07.jpg'
	})
		+rd-navbar

	include ../components/section/_typography-type
	include ../components/section/_typography-paragraphs
	include ../components/section/_typography-lists
	include ../components/section/_typography-quote
	include ../components/footer/_footer-subscribe
